<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Buttons</title>
</head>
<body>
    <section th:fragment="addButtons">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/addPerson" class="btn btn-lg btn-primary btn-block"
                       data-toggle="modal" data-target="#addPerson">
                        <i class="fas fa-plus"></i> [[#{action.add}]]
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>