<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Botones</title>
    <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="editButtons">
    <div id="actions" class="pt-3 pb-4 bg-light">
        <div class="container">
            <div class="d-grid gap-2 d-md-flex ">
                    <a th:href="@{/}" class="btn btn-ligth btn-block">
                        <i class="fas fa-arrow-left"></i> [[#{action.return}]]
                    </a>
                    <button type="submit" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> [[#{action.save}]]
                    </button>
                    <a th:href="@{/deletePerson/} + ${person.id_persona}"
                       class="btn btn-danger btn-block">
                        <i class="fas fa-trash"></i> [[#{action.delete}]]
                    </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>