<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="header">
        <h1>Control de clientes</h1>
    </header>
    <footer th:fragment="footer">
        <p>Control Manager by <a href="https://github.com/Jorge-I-Vidovic" target="_blank">Jorge I. Vidovic</a> | <a href="https://vidovic.systems/" target="_blank">Vidovic Systems</a> - Todos los derechos reservados.</p>
    </footer>
</body>
</html>