<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="header">
        <h1 th:text="#{template.title}"></h1>
    </header>
    <footer th:fragment="footer">
        <div>
            <br>
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a> |
            <span>Control Manager by <a href="https://github.com/Jorge-I-Vidovic" target="_blank">Jorge I. Vidovic</a> | <a href="https://vidovic.systems/" target="_blank">Vidovic Systems</a> - [[#{template.footer}]]</span>
        </div>
    </footer>
</body>
</html>