<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout/template :: head}"></head>
<body>
    <header th:replace="~{layout/template :: header}"></header>
    <section th:replace="~{layout/addPerson:: addPerson}"></section>
    <section th:replace="~{layout/addButtons:: addPerson}"></section>
    <section th:replace="~{layout/listPersons:: listPersons}"></section>
    <footer th:replace="~{layout/template :: footer}"></footer>
</body>
</html>